.bg-gray {
  background-color: #f0f0f0;
}

.centered-caption {
  margin-bottom: 10%;
}

@media (max-width: 768px) {
  .centered-caption {
    display: block;
    text-align: center;
  }
}

body::before {
  display: block;
  content: "";
  width: 100%;
  height: 55px;
}
